[push]
	default = simple
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	quotepath = false
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	dc = diff --cached

	# git log全部入り https://qiita.com/imudak/items/4a8549b46fe2e509a08c
	lg = log --oneline --decorate --graph --branches --tags --remotes

        # git log よく使うオプションまとめ - Qiita http://qiita.com/take4s5i/items/15d8648405f4e7ea3039
        graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"

	# Gitでマージ済みブランチを一括削除する方法 http://changesworlds.com/2016/01/how-to-bulk-delete-the-merged-branch-in-git/
	de = "!f () { git branch --merged | egrep -v '\\*|develop|master' | xargs git branch -d; };f"
	remote-prune= !git remote prune origin
[credential]
	helper = store
[include]
	path = ~/.gitconfig.local
[commit]
	template = ~/dotfiles/gitmessage.txt
